# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
bower_components/

# Build directories
dist/
build/
public/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage directories
coverage/

# MongoDB local database
*.lock
dump/
*.pid
*.seed

